.book {
  max-width: 220px;
  display: inline-grid;
  margin: 40px;
  cursor: pointer;
  position: relative;
}

.bookCover {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid rgb(238, 238, 238);
}

.bookTitle {
  width: 214px;
  background-color: #000;
  color: #fff;
  opacity: 7.5;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
