.App {
  text-align: center;
  font-family: "Segoe UI", "Helvetica Neue";
}

.App-header {
  position: relative;
  margin: 0 auto;
  padding: 3em 1em;
  color: #fff;
  text-align: center;
  background: url(./images/banner.jpg) no-repeat center center;
  background-size: cover;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.App-search {
  max-width: 400px;
  margin: auto;
}

.form-control {
  border-radius: 0px;
}

.button {
  position:fixed;
	width:60px;
	height:60px;
	top:20px;
	right:20px;
	background-color:rgb(214, 95, 40);
	color:#FFF;
  border-radius:50px;
  border: 0px;
  text-align:center;
  font-size: 1em;
}